* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background: #000;
  font-family: sans-serif;
}

.window {
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 200px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  -webkit-transition: opacity 0.6s;
          transition: opacity 0.6s;
}
.window h1,
.window h2,
.window p {
  color: #fff;
  line-height: 50px;
  text-align: center;
}
.window .meta {
  margin-top: 50px;
  opacity: 0.6;
}
.window h1 {
  line-height: 50px;
}
.window .btn-group {
  margin: 80px auto;
  width: 100px;
  height: 150px;
  overflow: hidden;
  position: relative;
}

.start-btn {
  z-index:1;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: #bdb76b;
  color: #fff;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border-bottom: 4px solid #f0e68c;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.start-btn:checked ~ #start{
  opacity: 0;
  pointer-events: none;
  -webkit-pointer-events: none;
}

.lever {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ff0000;
  background-image: radial-gradient(circle at 33px 13px,#fff 18%,rgba(255,255,255,0) 5%);
}
.lever:before {
  z-index: -1;
  position: absolute;
  content: '';
  top: 20px;
  left: 32px;
  width: 10px;
  height: 100px;
  background-color: #fff;
  border-left: solid #a9a9a9;
  transform: rotate(-15deg);
}

#end {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  border-bottom: solid #a9a9a9;
}

#container {
  background: -webkit-linear-gradient(top, #8adcf7 0%, #bbe8fd 100%);
  background: linear-gradient(to bottom, #8adcf7 0%, #bbe8fd 100%);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -300px;
  width: 800px;
  height: 600px;
  border: 1px solid #000;
  overflow: hidden;
}

/*Using css to drawing some stuff*/
#table {
  position: absolute;
  bottom: 0;
  left: -180px;
  width: 1200px;
  height: 600px;
  background-color: #daa520;
  border-radius: 20px;
  -webkit-transform: perspective(600px) rotateX(45deg);
          transform: perspective(600px) rotateX(45deg);
  -webkit-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
          transform-origin: center bottom;
}
#cup {
  z-index: 1;
  position: absolute;
  content: '';
  top: 357px;
  left: 37px;
  width: 78px;
  height: 56px;
  border-radius: 0 0 40% 40%;
  background-color: #fff;
  border-left: solid #a9a9a9;
}
#cup:before {
  z-index: 1;
  position: absolute;
  content: '';
  top: 5px;
  left: -16px;
  width: 57px;
  height: 38px;
  border-radius: 44%;
  background-image: radial-gradient(circle at 15px 18px, rgba(255,255,255,0) 18%, white 5%);
}
#cup:after{
  z-index: 1;
  position: absolute;
  content: '';
  top: 5px;
  left: 26px;
  width: 43px;
  height: 45px;
  border-bottom-right-radius: 20px;
  border-right: solid #d3d3d3;
}

.machine {
  width: 500px;
  height: 500px;
  top: 100px;
  left: 150px;
  border: solid #fff4b5 20px;
  background-color: #fff8dc;
  border-radius: 15px 15px 0 0;
  transform: translateZ(250px);
  position: absolute;
}
#panel {
  width: 640px;
  height: 300px;
  top: 300px;
  left: -89px;
  border: solid #fff4b5;
  border-width: 100px 20px;
  background-color: #fff8dc;
  border-radius: 15px 15px 0 0;
  transform: perspective(600px) rotateX(31deg);
  position: absolute;
}
.viewport {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  width: 440px;
  margin-top: 100px;
  margin-left: 10px;
  height: 159px;
  z-index: 1;
  box-shadow: 5px 5px #157;
}

/*reels actually spin in 3D, echo reel has 9 faces*/
.reel {
      width: 140px;
      height: 150px;
      margin-top: 5px;
      float: left;
      -webkit-transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
           -o-transform-style: preserve-3d;
              transform-style: preserve-3d;
    }
    .reel.reel-margin {
      margin-left: 10px;
    }
    .reel figure {
      display: block;
      position: absolute;
      width: 140px;
      height: 150px;
      border-radius: 15px;
      line-height: 136px;
      font-weight: bold;
      color: #fff;
      text-align: center;
    }
    .reel figure p { line-height: 30px; margin-top: 40px; }
    .reel figure.coffee-maker { background: hsla(  30, 100%, 30%, 1 ); }
    .reel figure.teapot { background: hsla(  120, 50%, 70%, 1 ); }
    .reel figure.espresso-machine { background: hsla(  31, 100%, 60%, 1 ); }
    .reel figure.coffee-filter { background: hsla( 30, 100%, 30%, 1 ); }
    .reel figure.tea-strainer { background: hsla( 120, 50%, 70%, 1 ); }
    .reel figure.espresso-tamper { background: hsla( 31, 100%, 60%, 1 ); }
    .reel figure.coffee-grounds { line-height: 70px;background: hsla( 30, 100%, 30%, 1 ); }
    .reel figure.tea { background: hsla( 120, 50%, 70%, 1 ); }
    .reel figure.espresso-beans { background: hsla( 31, 100%, 60%, 1 ); }
    .reel figure:nth-child(1) {
      -webkit-transform: rotateX(   0deg ) translateZ( 206px );
         -moz-transform: rotateX(   0deg ) translateZ( 206px );
           -o-transform: rotateX(   0deg ) translateZ( 206px );
              transform: rotateX(   0deg ) translateZ( 206px );
    }
    .reel figure:nth-child(2) {
      -webkit-transform: rotateX(  40deg ) translateZ( 206px );
         -moz-transform: rotateX(  40deg ) translateZ( 206px );
           -o-transform: rotateX(  40deg ) translateZ( 206px );
              transform: rotateX(  40deg ) translateZ( 206px );
    }
    .reel figure:nth-child(3) {
      -webkit-transform: rotateX(  80deg ) translateZ( 206px );
         -moz-transform: rotateX(  80deg ) translateZ( 206px );
           -o-transform: rotateX(  80deg ) translateZ( 206px );
              transform: rotateX(  80deg ) translateZ( 206px );
    }
    .reel figure:nth-child(4) {
      -webkit-transform: rotateX( 120deg ) translateZ( 206px );
         -moz-transform: rotateX( 120deg ) translateZ( 206px );
           -o-transform: rotateX( 120deg ) translateZ( 206px );
              transform: rotateX( 120deg ) translateZ( 206px );
    }
    .reel figure:nth-child(5) {
      -webkit-transform: rotateX( 160deg ) translateZ( 206px );
         -moz-transform: rotateX( 160deg ) translateZ( 206px );
           -o-transform: rotateX( 160deg ) translateZ( 206px );
              transform: rotateX( 160deg ) translateZ( 206px );
    }
    .reel figure:nth-child(6) {
      -webkit-transform: rotateX( 200deg ) translateZ( 206px );
         -moz-transform: rotateX( 200deg ) translateZ( 206px );
           -o-transform: rotateX( 200deg ) translateZ( 206px );
              transform: rotateX( 200deg ) translateZ( 206px );
    }
    .reel figure:nth-child(7) {
      -webkit-transform: rotateX( 240deg ) translateZ( 206px );
         -moz-transform: rotateX( 240deg ) translateZ( 206px );
           -o-transform: rotateX( 240deg ) translateZ( 206px );
              transform: rotateX( 240deg ) translateZ( 206px );
    }
    .reel figure:nth-child(8) {
      -webkit-transform: rotateX( 280deg ) translateZ( 206px );
         -moz-transform: rotateX( 280deg ) translateZ( 206px );
           -o-transform: rotateX( 280deg ) translateZ( 206px );
              transform: rotateX( 280deg ) translateZ( 206px );
    }
    .reel figure:nth-child(9) {
      -webkit-transform: rotateX( 320deg ) translateZ( 206px );
         -moz-transform: rotateX( 320deg ) translateZ( 206px );
           -o-transform: rotateX( 320deg ) translateZ( 206px );
              transform: rotateX( 320deg ) translateZ( 206px );
    }
